name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    name: checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Check GitHub Actions
        uses: reviewdog/action-actionlint@1.69.1
      - name: Check for typos
        uses: crate-ci/typos@v1.39.2
