name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    name: checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Check GitHub Actions
        uses: docker://rhysd/actionlint:1.7.8
        with:
          args: -color
      - name: Check for typos
        uses: crate-ci/typos@v1.40.0
